
:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255,255,255, 0);
}

/*** navbar ***/


.logo-name {
  margin-left:2rem;
}

/*** menu links ***/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  color:var(--primary-white) !important;
}

nav ul li {
  text-transform: uppercase;
  
}

.navbar-nav > li > a {
  margin-left: 1rem;
  margin-right: 1rem;
  border-top: 0.188rem solid var(--primary-dark);
  color:var(--primary-white) !important;
  
}

nav {
  background-color: #0D0030;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.548);
  box-sizing: border-box;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.188rem solid var(--primary-orange);
}


.navbar-container{
  width: flex;
 
}

/*** main ***/

.main {
  background-color: #0D0030;
  background-image: url(
    ./image/foguete3.svg), url(
    ./image/foguete1.svg), url(
    ./image/foguete2.svg), url(
    ./image/notebook1.svg), url(
    ./image/notebook2.svg), url(
    ./image/background.svg);
    
    
  background-repeat: no-repeat;
  background-position: 50% 11%, 5% 4.65%, left 10%, 89% 103px, right 20px, center 10%; 
  display: block;  
  
  
}

.mainContainer{
  padding-bottom: 20rem;
  
  text-align: center;
  align-items: center;
}

.hack-name{
  
  font-size: 7vw;
  text-shadow: 10px 10px rgba(0, 0, 0, 0.466);
  font-family: 'Lexend Exa', sans-serif;
  color: white; 
  margin-top: 15%;
  
}

.obito{
  font-size:4vw;

  font-family: 'Lexend Exa', sans-serif;
  color: #3c9ae4 !important;
  white-space: nowrap;
  overflow: hidden;
  
}

.codificar{
  font-size: 24px;
  font-style: italic !important;
  color: white;
}

.row-hack{
  margin-bottom: 21rem;
}

.card-cod{
  background-color: white;
  padding: 5rem !important;
}

.h2-card{
  color: #1F0A57;
  font-size: 40px;
  text-align: left;
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
}

.p-card{
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.button-card{
  position: initial;
  margin-top: 80px;
  margin-bottom: 80px;
  display: inline-block;
  bottom: 64px;
  left: -24px;
  padding: 24px 48px;
  color: white;
  background-color: #ff7513;
  text-decoration: none;
  font-size: 24px;
  transition: 0.2s all;
  box-shadow: 10px 10px 0px 0px #3c9ae4;
  font-family: 'Lexend Exa', sans-serif;

}

.main-objetivos{
  background-color: #1F0A57;
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
  
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 40px;
  
}
@media (max-width: 992px){
.grid-container{
  grid-template-columns: repeat(2, 1fr);}
  
}
@media (max-width: 768px){
  .grid-container{
    grid-template-columns: repeat(1, 1fr);}
    
  }


.h1-obj{
  text-align: left;
  color: white;
  font-size: 56px;
  font-family: 'Lexend Exa', sans-serif;
  margin-bottom: 2rem;
}

.h3-obj{
  font-size: 24px;
  font-family: 'Lexend Exa', sans-serif;
  color: white;
}

.p-obj{
  font-family: 'Roboto', sans-serif;
  color: white;
}

.main-premios{
  background-color: #0D0030;
  background-image: url(
    ./image/background.svg), url(
    ./image/cbo.svg), url(
    ./image/podium.svg);
      
    
  background-repeat: no-repeat;
  background-position: center, 50% 11%, 5% 4.65%; 
  display: block;  
  
}

.h3-eve{
  font-family: 'Lexend Exa', sans-serif;
  font-size: 24px;
  color: #0B0029;
  padding-top: 2.5rem;
}

.h2-eve{
  font-size: 56px;
  color: #0d0029 !important;
  font-family: 'Lexend Exa', sans-serif;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.p-eve{
  
}

.p-data{
  color: #3c9ae4 !important;
  font-family: 'Lexend Exa', sans-serif;
  font-weight: 700 !important;
  margin-bottom: 2rem;
}

.fases{
  border-left: 4px solid #0d0030;
  padding-left: 10%;
  padding-bottom: 10%;
  

}

